openapi: "3.1.0"
info:
  title: Microsoft Graph – Mail
  version: "1.0"
  description: |
    Copied from the official Microsoft Graph OpenAPI v1.0 spec.
    Source: https://github.com/microsoftgraph/msgraph-metadata/blob/master/openapi/v1.0/openapi.yaml
    Contains only the sendMail endpoint.
servers:
  - url: https://graph.microsoft.com

paths:
  /v1.0/users/{user-id}/sendMail:
    post:
      tags:
        - users.user.Actions
      summary: Invoke action sendMail
      description: >
        Send the message specified in the request body using either JSON or MIME format.
        When using JSON format, you can include a file attachment in the same sendMail
        action call.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-sendmail?view=graph-rest-1.0
      operationId: users.user.sendMail
      parameters:
        - name: user-id
          in: path
          description: The unique identifier of user
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: Action parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Message:
                  $ref: "#/components/schemas/microsoft.graph.message"
                SaveToSentItems:
                  type: boolean
                  nullable: true
      responses:
        "204":
          description: Success
        4XX:
          $ref: "#/components/responses/error"
        5XX:
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: action

components:
  schemas:
    microsoft.graph.message:
      title: message
      type: object
      properties:
        subject:
          type: string
          description: The subject of the message.
          nullable: true
        body:
          $ref: "#/components/schemas/microsoft.graph.itemBody"
        toRecipients:
          type: array
          items:
            $ref: "#/components/schemas/microsoft.graph.recipient"
          description: "The To: recipients for the message."
        ccRecipients:
          type: array
          items:
            $ref: "#/components/schemas/microsoft.graph.recipient"
          description: "The Cc: recipients for the message."
        bccRecipients:
          type: array
          items:
            $ref: "#/components/schemas/microsoft.graph.recipient"
          description: "The Bcc: recipients for the message."
        replyTo:
          type: array
          items:
            $ref: "#/components/schemas/microsoft.graph.recipient"
          description: The email addresses to use when replying.

    microsoft.graph.itemBody:
      title: itemBody
      type: object
      properties:
        content:
          type: string
          description: The content of the item.
          nullable: true
        contentType:
          $ref: "#/components/schemas/microsoft.graph.bodyType"

    microsoft.graph.bodyType:
      title: bodyType
      type: string
      enum:
        - text
        - html
        - unknownFutureValue

    microsoft.graph.recipient:
      title: recipient
      type: object
      properties:
        emailAddress:
          $ref: "#/components/schemas/microsoft.graph.emailAddress"

    microsoft.graph.emailAddress:
      title: emailAddress
      type: object
      properties:
        address:
          type: string
          description: The email address of the person or entity.
          nullable: true
        name:
          type: string
          description: The display name of the person or entity.
          nullable: true

    ODataErrors.ODataError:
      title: ODataError
      required:
        - error
      type: object
      properties:
        error:
          $ref: "#/components/schemas/ODataErrors.MainError"

    ODataErrors.MainError:
      title: MainError
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string

  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ODataErrors.ODataError"
