openapi: "3.1.0"
info:
  title: Microsoft Graph – Me
  version: "1.0"
  description: |
    Copied from the official Microsoft Graph OpenAPI v1.0 spec.
    Source: https://github.com/microsoftgraph/msgraph-metadata/blob/master/openapi/v1.0/openapi.yaml
    Contains only the /me endpoint.
servers:
  - url: https://graph.microsoft.com

paths:
  /v1.0/me:
    get:
      tags:
        - me.user
      summary: Get a user
      description: >
        Retrieve the properties and relationships of user object. This operation
        returns by default only a subset of the more commonly used properties for
        each user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-get?view=graph-rest-1.0
      operationId: me.user.GetUser
      parameters:
        - name: ConsistencyLevel
          in: header
          description: Indicates the requested consistency level.
          schema:
            type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/microsoft.graph.user"
        4XX:
          $ref: "#/components/responses/error"
        5XX:
          $ref: "#/components/responses/error"
      x-ms-docs-operation-type: operation

  /{tenantId}/oauth2/v2.0/token:
    post:
      operationId: exchangeCodeForToken
      description: |
        Exchange an authorization code for tokens using the Azure AD authorization-code flow.
        NOTE: pass serverURL: https://login.microsoftonline.com when creating the Client.
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
                - code
                - redirect_uri
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                code:
                  type: string
                redirect_uri:
                  type: string
                code_verifier:
                  type: string
                scope:
                  type: string
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AzureADTokenResponse"
        "4XX":
          description: Auth error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AzureADTokenError"

components:
  schemas:
    microsoft.graph.user:
      title: user
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the user.
        displayName:
          type: string
          description: The name displayed in the address book for the user.
          nullable: true
        givenName:
          type: string
          description: The given name (first name) of the user.
          nullable: true
        surname:
          type: string
          description: The user's family name (surname).
          nullable: true
        mail:
          type: string
          description: The SMTP address for the user.
          nullable: true
        userPrincipalName:
          type: string
          description: The user principal name (UPN) of the user.
          nullable: true
        jobTitle:
          type: string
          nullable: true
        officeLocation:
          type: string
          nullable: true
        mobilePhone:
          type: string
          nullable: true
        businessPhones:
          type: array
          items:
            type: string
        preferredLanguage:
          type: string
          nullable: true

    ODataErrors.ODataError:
      title: ODataError
      required:
        - error
      type: object
      properties:
        error:
          $ref: "#/components/schemas/ODataErrors.MainError"

    ODataErrors.MainError:
      title: MainError
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string

    AzureADTokenResponse:
      type: object
      required:
        - access_token
        - expires_in
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
        scope:
          type: string
        refresh_token:
          type: string

    AzureADTokenError:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string

  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ODataErrors.ODataError"
